.color_green {
    color: #44ac04 !important;
}

.color_gold {
    color: #d4ac04 !important;
}

.color_gray {
    color: #555555 !important;
}

.btn_green {
    background-color: #44ac04 !important;
    color: white !important;
    border: none;
}

.btn_green:hover {
    background-color: #3a9403 !important;
}

.btn_green_border {
    background-color: transparent !important;
    border: 2px solid #44ac04 !important;
    color: black !important;
}

.btn_green_border:hover {
    background-color: #44ac04 !important;
    border: 2px solid #44ac04 !important;
}

.btn_gray {
    background-color: #555555 !important;
    color: white !important;
    border: none !important;
}

.sidebar {
    width: 300px  !important;
    background-color: #f8f9fa !important;
}

.btn_sidebar {
    color: #555555 !important;
    border: none !important;
}

.btn_sidebar:hover {
    background-color: #555555 !important;
    color: white !important;
    border: none !important;
}

.sidebar_profile {
    width: 100%;
    background:#eeeeee;
    text-decoration: none;
}

.sidebar_profile:hover {
    background:#dddddd;
}


.profile_p {
    background-color: #e9ecef;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    margin-bottom: 0;
    color: #333;
}

.card_home {
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  background: #f8f9fa;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

/* CLASES DE LA DIRECCION */
.card_address {
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  background: #f8f9fa;
  overflow: hidden;
  position: relative;
  min-height: 165px !important;
}

.btn_address {
  border: none;
  background: transparent;
  font-size: 1rem;
  color: #555555;
  transition: color 0.3s;
}
    
.btn_address:hover {
  color: #333333;
}

.card_profile {
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  background: #f8f9fa;
  overflow: hidden;
}

.card_route {
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  background: #f8f9fa;
  overflow: hidden;
  padding: 1rem;
}


